<div id="album-details">
    <img id="cover" src="{{cover}}" alt="no image found"><br>
    <label>Artists</label>
    <p id="artists-details">{{artists}}</p>
    <label>Genres</label>
    <p id="genres-details"></p>
    <label>Total Tracks</label>
    <p id="total">{{total}}</p>
    <label>Average Ranking:</label>
    <p id="avg">{{avg}}</p>
    <p>Submit a Ranking</p>
    <form id="ranking" method="POST">
        <ul>
            <li><label for="out_of_five">Ranking 1-5</label>
            <input type="text" name='out_of_five' id="out_of_five"><br></li>
            <li><label for="review">Review (Optional)</label>
            <textarea name="review" id="review"></textarea><br></li>
            <li><button type="submit">Submit</button></li>
        </ul>
    </form>
    <p id="error">{{{error}}}</p>
    <script>
        let data = {{{genres}}};
        let genresDetails = document.getElementById('genres-details');
        let genresArray = [];

        for (let i = 0; i < data.length; ++i) {
            genresArray.push(data[i]);
        }
        genresDetails.innerText = genresArray.join(', ');
    </script>
    <ul>
        <li><a href="/album/{{album_id}}/rankings">View this Album's Rankings</a></li>
        <li><a href="/user/{{userName}}">Back to user page</a></li>
    </ul>
</div>
